flows.json
[{"id":"c9ff0994.653fd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"258b7c47.8e94a4","type":"ui_form","z":"c9ff0994.653fd8","name":"","label":"","group":"7d010d65.0dcb74","order":2,"width":0,"height":0,"options":[{"label":"Date/Time","value":"dt","type":"text","required":true,"rows":null},{"label":"Wind Speed","value":"ws","type":"number","required":true,"rows":null},{"label":"Theoretical Power Curve","value":"tpc","type":"number","required":true,"rows":null},{"label":"Wind Direction","value":"wd","type":"number","required":true,"rows":null}],"formValue":{"dt":"","ws":"","tpc":"","wd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":240,"wires":[["70a5dfe0.c0582"]]},{"id":"70a5dfe0.c0582","type":"function","z":"c9ff0994.653fd8","name":"Pre Token","func":"global.set(\"dt\",msg.payload.dt)\nglobal.set(\"ws\",msg.payload.ws)\nglobal.set(\"tpc\",msg.payload.tpc)\nglobal.set(\"wd\",msg.payload.wd)\nvar apikey=\"-q_NFHGed4L6-yyTNhGWtcpICz7w7my8GjHwa5mLaBOB\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":240,"wires":[["1dcb6b2.3e68c95"]]},{"id":"1dcb6b2.3e68c95","type":"http request","z":"c9ff0994.653fd8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":260,"wires":[["62084944.32afc8"]]},{"id":"62084944.32afc8","type":"function","z":"c9ff0994.653fd8","name":"Pre Prediction","func":"var dt = global.get('dt')\nvar ws = global.get('ws')\nvar tpc = global.get('tpc')\nvar wd = global.get('wd')\nvar token=msg.payload.access_token\nvar instance_id=\"9223e3bb-4fcc-4fa7-ab28-2b41111ae81b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time\", \"Wind Speed (m/s)\", \"Theoretical_Power_Curve (KWh)\", \"Wind Direction (°)\"],\"values\": [[dt,ws,tpc,wd]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":260,"wires":[["bb7062f0.7a64e"]]},{"id":"bb7062f0.7a64e","type":"http request","z":"c9ff0994.653fd8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/787afc0e-bc4e-406f-b39e-821f47a51968/predictions","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":280,"wires":[["531571ba.6609a","8cd0f4b4.efbaa8"]]},{"id":"531571ba.6609a","type":"debug","z":"c9ff0994.653fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":220,"wires":[]},{"id":"8cd0f4b4.efbaa8","type":"function","z":"c9ff0994.653fd8","name":"For","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":140,"wires":[["6db7bc4e.8a07f4"]]},{"id":"6db7bc4e.8a07f4","type":"ui_text","z":"c9ff0994.653fd8","group":"7d010d65.0dcb74","order":1,"width":0,"height":0,"name":"","label":"LV ActivePower (kW)","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":420,"wires":[]},{"id":"f2c514ff.0d5418","type":"ui_text","z":"c9ff0994.653fd8","group":"7d010d65.0dcb74","order":3,"width":0,"height":0,"name":"","label":"Ankur Tiwari","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":480,"wires":[]},{"id":"7d010d65.0dcb74","type":"ui_group","z":"","name":"Default","tab":"d25e2625.4f57b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d25e2625.4f57b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]